<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- TODO: определите бины здесь -->


    <bean id="personDAO" class="ru.otus.ru.otus.spring01.dao.PersonDaoSimple">
        <property name="defaultAge" value="24"/>
    </bean>
    <bean id="personServices" class="ru.otus.ru.otus.spring01.service.PersonServiceImpl">
<!--        <constructor-arg name="dao" ref="personDAO"/>-->
        <property name="dao" ref="personDAO"/>
    </bean>
    <bean id ="person" class="ru.otus.ru.otus.spring01.domain.Person">
        <constructor-arg name="name" value="John"/>
        <constructor-arg name="age" value="14"/>
    </bean>


</beans>
